
experiments/repairs/
experiments/cache/
experiments/inf-dist/
target/
tmp.*
notes-tex
*-old.*

### Latex ###
*.synctex.gz
*.aux
*.abs
*.xmpdata
*.xmpi
*.fls
*.out
*.toc
*.log
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.synctex*

### Vscode ###
.vscode/

### Vim ###
.vim/

